.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
    min-width: 250px;
    color: whitesmoke;
}

.message__user{
    margin-left: auto;
}
.message__userCard{
    background-color: rgb(146, 233, 236) !important;
    text-align: left !important;
}

.message__guest{
    margin-left: auto;
}
.message__guestCard{
    background-color: rgb(69, 235, 179) !important;
    text-align: left !important;
}

